<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
		<title>File Upload</title>
	</head>

	<body>
		<h3>Enter The File to Upload</h3>
		<form method="POST" action="/uploadFile" enctype="multipart/form-data">
			<table>
				<tr>
					<td>Select a file to upload</td>
					<td><input type="file" name="file" /></td>
				</tr>
				<tr>
					<td><input type="submit" value="Import" /></td>
				</tr>
			</table>
		</form>
		<br />
	</body>
</html>